In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

# Web Scraping Wikipedia's Table

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [27]:
page = requests.get(url).content
html = pd.read_html(page)
df = html[0]
df

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

### Ignoring Not assigned values in column Borough

In [32]:
for i in df['Borough']:
    if i == 'Not assigned':
        df.drop(i, inplace=True)

In [31]:
#To make sure there aren't any values "Not assigned"
df['Borough'].values == 'Not assigned'

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

### Unifying Postal code values

In [57]:
#there are no postal code that appears more than once
sum((df['Postal code'].value_counts()>1)==True)

0

### There aren't Not assigned values in the column Neighborhood

In [58]:
sum((df['Neighborhood']=='Not assigned')==True)

0

### Check numbers of rows and columns by using shape function of pandas

In [59]:
df.shape

(103, 3)